.underlined-tab {
    height: 60px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

.underlined-tab::after {
    content: '';
    height: 3px;
    width: 100%;
    background-color: var(--medium-blue);
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.1s ease;
}

.underlined-tab:hover,
.underlined-tab.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--medium-blue);
}

.underlined-tab:hover::after,
.underlined-tab.active::after {
    transform: scaleX(1);
}

.hover-btn {
    transition: opacity 0.1s ease;
}

.blue-disabled {
    background-color: #A5D5F1;
    color: gray;
}

.hover-btn.blue-disabled:hover {
    opacity: 1;
}

.pink-disabled {
    background-color: #F9A3BC;
    color: gray;
}

.hover-btn.blue-disabled:hover {
    opacity: 1;
}

.hover-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.oauth-hover-btn {
    border-radius: 300px 20px 20px 300px;
    transition: border-radius 0.3s ease;
}

.oauth-hover-btn:hover {
    border-radius: 20px;
}

.oauth-hover-btn img {
    transition: transform 0.2s ease;
}

.oauth-hover-btn:hover img {
    transform: scale(1.2);
}

.oauth-hover-btn:hover label {
    color: white;
}

.slider {
    transition: transform 0.3s ease-in-out;
}

.slider.first-slide {
    transform: translateX(0);
}

.slider.second-slide {
    transform: translateX(-50%);
}

.invisible {
    visibility: hidden;
}

.loader {
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}