.reset-slider {
    transition: transform 0.3s ease-in-out;
}

.reset-slider.first {
    transform: translateX(0);
}

.reset-slider.second {
  transform: translateX(calc(-100% / 3));
}

.reset-slider.third {
  transform: translateX(calc(-200% / 3));
}
